<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Presença</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 min-h-screen flex flex-col items-center py-10">
	<div class="bg-white shadow-md rounded-2xl w-11/12 md:w-3/4 lg:w-1/2 p-8">
		<div class="flex items-center justify-between mb-4">
		  <div>
			<h1 class="text-2xl font-bold">Lista de Matérias</h1>
			<div class="flex items-center gap-4 mb-6">
			
		</div>
		  </div>

		  <a href="/" class="bg-red-500 hover:bg-red-600 text-white font-semibold px-4 py-2 rounded-lg shadow">Sair</a>
		  
		</div>
	
		<div class="mb-6">
		  <input
			type="text"
			id="pesquisa"
			placeholder="Pesquisar materias..."
			class="w-full border rounded-xl px-4 py-2 focus:ring-2 focus:ring-emerald-500 focus:outline-none"
		  >
		</div>
		<!-- Lista de alunos -->
		<div id="lista" class="flex flex-col gap-3">
		  <% materias.forEach(dados => { %>
		  <div class="aluno-item flex justify-between items-center bg-white border rounded-xl px-5 py-3 shadow-sm">
			<div>
			  <p class="font-semibold text-gray-900 nome-aluno"><%= dados.descricao %></p>
			  <p class="text-gray-400 text-sm status"><%= dados.id_materia %></p>
			</div>
			<button class="bg-red-500 hover:bg-red-600 text-white font-semibold px-4 py-2 rounded-lg marcar-btn" onclick="marcarPresenca(<%= dados.id_materia %>)">
			  Lista de Alunos
			</button>
		  </div>
		  <% }) %>
		</div>
  </div>
</body>
<script>
	const pesquisa = document.getElementById("pesquisa");
	
	function marcarPresenca(id_materia) {
		//alert(id_materia)
		setTimeout(() => {
			window.location.href = "/alunos/"+id_materia; // redireciona para a página da lista de presença
		}, 10);
		  
		
	}
	
	// Função de pesquisa em tempo real
	pesquisa.addEventListener("input", () => {
		const termo = pesquisa.value.toLowerCase();
		const alunos = document.querySelectorAll(".aluno-item");

		alunos.forEach(item => {
		  const nome = item.querySelector(".nome-aluno").textContent.toLowerCase();

			

		  // Se o nome contém o termo, exibe; caso contrário, esconde
		  if (nome.includes(termo)) {
			item.style.display = "flex";
		  } else {
			item.style.display = "none";
		  }
		});
	});
</script>
</html>
